.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* div {
  border: 1px solid black;
} */

div#MovingAvgG.col-md-8{
  /* background-color: #ddd !important; */
  border-color: #14934b !important;
  border-width: 3px !important;
}
div#VolatilityG.col-md-8{
  /* background-color: #ddd !important; */
  border-color: #14934b !important;
  border-width: 3px !important;
}



.card{
  width: 3.5cm !important;

}

.card-footer{
  font-size: 15px !important;
  
}

.navbar {
  background-color: #cbccd4 !important;
  position: block;
  min-height: 90px;
  width: 100%;
}
.navbar-nav{
  margin-inline-start: 4rem;
  align-content: center;
}
.title{
  color: #14934b;
  float: right !important;
  position: absolute;
  right: 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
/* .App-header {
  background-color: #07080a;
  min-height: 6vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-body {
  padding: 5vh;
  background-color: #ffffffff;
  min-height: 150vh;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

div#ValueCache.col-4.border{
  background-color: #14934b !important;
  margin-right:  auto;
  
 

}

.App-logo {
  float: left;
  max-width: 80px;
  margin: 10px;
}
/* Min max styling */

.col-md-8{
  background-color: #a3a3a3 !important;
  border-color: #14934b !important;
  border-width: 3px !important;
}
div#min-max.col-md-8{
  background-color: #a3a3a3 !important;
  border-color: #14934b !important;
  border-width: 3px !important;
}
.item-container {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.card {
  background-color: #ffffff !important;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(255, 191, 1, 0.2) 0px 0px 0px 0px;
}
.card-footer{
  font-size: 2rem;
}
/* end of min max styling */
.App-link {
  color: #d5b234;
}
.form-select{
  margin-top: 10px;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }



}
.dropbtn {
  background-color: #cbccd4;
  color: #787878;
  padding: 16px;
  font-size: 24px;
  border: none;
  margin-left: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;
right: 10px;
border: #14934b;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: #14934b;}

.dropright:hover  .dropdown-menu {
  display: block;
  position: inherit;
  /* --bs-position: end; */
  left: 100%;
  
}

.high{
  position: absolute;
  right: 2% !important;
  background-color: #14934b;
  height: 40% !important;
  top: 120% !important;
  width: 35%;
}
.table {
  table-layout: fixed;
  width: 100%;
  font-size: calc(10px + 2vmin);
  font-size: medium;
}
tr#tabledata{
  height: 3vh !important;
}
footer {
  background-color:  #14934b !important;
  min-height: 100px;
  width: 100%;
}

/* Summary Styling */
div#mostTradedSym.col-4{
  background-color: #a3a3a3 !important;
  border-color: #14934b !important;
  border-width: 3px !important;
    
}


.summary-container {
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 37%;
  margin-right: 40%;
}

.sum-card {
  background-color: rgb(255, 255, 255) !important;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(255, 191, 1, 0.2) 0px 0px 0px 0px;
}

.sum-card-footer{
  font-size: 15px !important;
}

.sum-card-title{
  margin-bottom: var(--bs-card-title-spacer-y);

}